@media(max-width: 767px){
    .header__background-img{
        display: none;
    }
    .header{
    position: relative;
    min-width: 376px;
    height: 700px;
}

.header__content{
    justify-content: center;
    width: 346px;
    margin-left: 40px;
    margin-top: 147px;
    display: flex;
    flex-direction: column;
}
.header__star2{
    width: 35px;
    height: 35px;
    left: 38px;
    margin-top: 97px;
    position: absolute;
}

.header__star3{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-top: 64px;
    margin-left: 92px;
}
.header__star5{
    position: absolute;
    margin-top: 557px;
    margin-left: 273px;
    width: 18px;
    height: 18px;
}

.header__star4{
    position: absolute;
    margin-top: 580px;
    margin-left: 304px;
    width: 39px;
    height: 41px;
}

.header__star-mobile{
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
}
    .header__title{
        text-align: center;
        width: 296px;
        height: 196px;
        font-size: 40px;
    }

    .header__description{
        text-align: center;
        width: 296px;
        height: 60px;
        font-size: 16px;
        line-height: 100%;
    }

    .header__description-span{
        font-size: 16px;
    }
    .header__button{
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin-top: 36px;
}
    .games{
        display: none;
    }


    .header__bottom{
    width: 100%;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.header__bottom-text{
    margin-left: 27px;
    margin-top: 16px;
    margin-bottom: 17px;
}
.header__bottom-img{
    margin-top: 16px;
    margin-bottom: 16px;
    z-index: 1;
    width: 19px;
    height: 19px;
    margin-left: 27px;
}

.mini-games{
    min-width: 376px;
    height: auto;
    padding-left: 16px;
}

.mini-games__title{
    font-size: 40px;
    margin-bottom: 48px;
}
.mini-games__star6{
    display: none;
}
.mini-games__star7{
    display: none;
}

.mini-games__card,
.mini-games__card2,
.mini-games__card3,
.mini-games__card4,
.mini-games__card5,
.mini-games__card6{
    display:flex;
    flex-direction:column;
    width:343px;
    height: auto;
    margin-bottom: 24px;
    border-radius:30px;
    overflow: hidden;
}
.mini-games__card6{
    margin-bottom: 10px;
}


.mini-games__card,
.mini-games__card3,
.mini-games__card5{

    display:flex;
    flex-direction:column;
}

.mini-games__card-img{
    order:-1;
}
.mini-games__images{
    position: relative;
}
.mini-games__card4-img{
    display: block;
    width: 100%;
}

.mini-games__card4-png{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#FFC700;
}

.mini-games__card-img{
    display: block;
    width: 343px;
}


.mini-games__card-text{
    width: 285px;
    margin-left: 29px;
    margin-right: 29px;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
}

.mini-games__card-title{
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 59px;
}

.mini-games__card-desc{
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 32px;
}

.mini-games__button{
    display:block;
    font-size:16px;
    padding-left:110px;
    padding-right:110px;
    margin-bottom: 32px;
}


.footer{
    height: 100px;
    min-width: 375px;
}

.footer__title{
    font-size: 16px;
}

.footer__star8{
display: none;
}

.footer__star10{
display: none;
}
}