@media(max-width: 767px){
    .header__background-img{
        display: none;
    }
    .header{
    position: relative;
    min-width: 376px;
    min-height: 700px;
}

.header__content{
    justify-content: center;
    width: 346px;
    margin-left: 40px;
    margin-top: 147px;
    display: flex;
    flex-direction: column;
}
.header__star2{
    width: 35px;
    height: 35px;
    left: 38px;
    margin-top: 97px;
    position: absolute;
}

.header__star3{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-top: 64px;
    margin-left: 92px;
}
.header__star5{
    position: absolute;
    margin-top: 557px;
    margin-left: 273px;
    width: 18px;
    height: 18px;
}

.header__star4{
    position: absolute;
    margin-top: 580px;
    margin-left: 304px;
    width: 39px;
    height: 41px;
    margin-bottom: 28px;
}

.header__star-mobile{
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
}
    .header__title{
        text-align: center;
        width: 296px;
        height: 196px;
        font-size: 40px;
    }

    .header__description{
        text-align: center;
        width: 296px;
        height: 60px;
        font-size: 16px;
        line-height: 100%;
    }

    .header__description-span{
        font-size: 16px;
    }
    .header__button{
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin-top: 36px;
}
    .games{
        display: none;
    }


    .header__bottom{
    width: 100%;
    font-size: 16px;
    position: absolute;
}

.header__bottom-text{
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 17px;
}
.header__bottom-img{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 27px;
    z-index: 1;
    width: 19px;
    height: 19px;
}
    
}